body{
        background-color: #2F2F2F;
        color: white;
}

.card{
        background-color: transparent !important;
        border: none;
}

main{
    margin: 0 auto;
    max-width: 800px;
}

footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #1B9BF0;
        color: white;
}

.content{
        margin: 0 auto;
        max-width: 800px;
}

.btn{
        border-radius: 20px;
        border: 1px solid;
}

input[type="text"]
{
    background: transparent;
    border: solid 1px black;
    color: white;
}

input[type="text"]:hover
{
        background: transparent;
        border: solid 1px white;
}
input[type="text"]:focus
{
        background: transparent;
        border: solid 1px white;
        outline: none;
        box-shadow: none;
        color: white;
}
input[type="password"]
{
    background: transparent;
    border: solid 1px black;
    color: white;
}

input[type="password"]:hover
{
        background: transparent;
        border: solid 1px white;
}
input[type="password"]:focus
{
        background: transparent;
        border: solid 1px white;
        outline: none;
        box-shadow: none;
        color: white;
}